
.main{
    display: flex;
  position: relative; 
    width: 100%; 
    height: 100vh; 
    background: rgb(255, 255, 255);
  
}
.videos{
    width: 100%;
    height: 100%;
    position: relative;
}

.videoPlayer{
/* background-color: black; */

border-radius: 22px;
overflow: hidden;
-webkit-transform: translateZ(0);
box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07);
/* -webkit-mask-image: url(http://f.cl.ly/items/1e181Q0e3j0L3L3z2j3Z/rect.svg) */
}
.user1{
    width: max-content;
height: 200px;
    position: absolute;
   right: 5px !important;
    bottom: 30px;
  z-index: 1000;
}

.user2{
    position: fixed;
   width: 90%;
   height: 90%;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto;


}
.controls{
    /* position: static; */
    background-color: rgba(0, 0, 0, 0.437);
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: max-content;
    padding: .4em .4em;
    /* background-color: red; */
    align-self: flex-end;
    justify-content: center;
    position: fixed;
    left: 50%;
    bottom: 5.5em;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 30px 30px 30px 30px;

 
}

.controlBtn{
    width: 30px;
    height: 30px;
    background-color: rgba(63, 63, 63, 0.327);
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: .3em;
}
.controlBtn span {
    color: rgb(252, 252, 252);
    font-size: 1em;

}
